<template>
  <div>
    <div class="item">
      <h2>New Todo:</h2>
      <!-- v-model updates both ways -->
      <input type="text" placeholder="type new toDo" v-model="newItem">

      <button @click="addItem">Add</button>
    </div>
  <!-- item="item" we need to give an item from TodoItem component -->
  <!-- now in TodoItem we need to give "item" props -->
  <!-- when we send a props, its send as a string so we need to at v-bind -->
  <!-- we emited from TodoItem the @removeClicked method and assigned it to removeItem -->
    <TodoItem  
    v-for="item in items"
    v-bind:key="item.id"
    v-bind:item="item"
    @removeClicked="removeItem"
     />
  </div>
</template>

<script>
// import TodoItem component and use it in TodoApp
import TodoItem from './TodoItem.vue'
export default {
    components: {
      // we can just use TodoItem instead of for example TodoItem: TodoItem
    TodoItem
  },
  data() {
    return {
      newItem: '',
      items: [
        {title: 'Do shopping', completed: true, id: 1},
        {title: 'Do food', completed: false, id: 2},
        {title: 'Watch tv', completed: true, id: 3}
      ]
    }
  },
  methods: {
    addItem(){
      // add new toDo item to array items
      this.items.push({title: this.newItem, completed: false, id: Math.random()* 10}),
      this.newItem = ''
    },
    // find in items index of element that has the same id of id we put in the removeItem(id)
    // than item with that index change completed to true
    removeItem(id){
      const index = this.items.findIndex(el => el.id === id)
      this.items[index].completed = true
    }
  },
}
</script>


<style>
/* scoped style applies only to the current component */

.item {
  border: 1px solid #AAAAAA;
  margin: 6px;
  padding: 6px;
}

.completed {
  opacity: 0.5;
}

.completed h2 {
  text-decoration: line-through;
}

.p2 {
  padding: 6px;
}


</style>
