    <template>
    <!-- bind class completed if item is completed -->
    <!-- show remove button only if item is not completed -->
        <div
            class="item" 
            v-bind:class="{ completed: item.completed }" >
            <h2>{{item.title}}</h2>
            <!--  -->
            <button class="p2" v-if="!item.completed" @click="removeItem">Remove</button>
        </div>
    </template>


    <script>
    // export can be empty
    // we need to send item props
    // we need to send removeItem method, to do it we need to use emit, sending info to parent component
    // that we did something and we want to send some data
    // we want to send removeCLicked, and id that we want to be removed
    export default {
        props: ['item'],
        methods: {
            removeItem() {
                this.$emit('removeClicked', this.item.id)
            }
        }
    }
    // in object here we have to use this, but in the button we dont use this
    </script>

