<template>
    <div>
        <h1>Todo App</h1>
        <TodoApp />
    </div>
</template>



<script>
// component has to and vue not Vue, if not it will show an error
import Todo from './components/TodoApp.vue'
export default {
  components: {
    TodoApp: Todo
  }
}
// import todo from ..
// use Todo component as TodoApp
// component is ready to use as for example <TodoApp />
</script>
